.third{background-color: black; color: yellow; font-size: 20px; font-style: italic;}
.fourth{background-color: blue; color: yellowgreen; font-size: 20px; font-style: italic;}
h2{background-color: aliceblue; color: aquamarine; font-size: 30px; font-family: serif; font-style: italic; font-weight: lighter;}